.btn-modern {
 background-color: orangered;
 color: #c1c1c1;
 padding: 10px 5px;
 transition: all 0.4s ease-out;
}
.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #000000;
    background-color: #2f8888;
    color: #000000;
}